@mixin for-phone-only{
  @media (max-width: 599px) {
    @content;
  }
}

::ng-deep .mat-horizontal-content-container {
  padding: 2px 12px!important;
}
mat-horizontal-stepper {
  width: 100%;
}
.secondStepper {
  ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  h3 {
    font-size: large;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    line-height: 26px;
    margin-bottom: 5px;
  }
  p {
    text-align: center;
    line-height: 26px;
    margin-bottom: 20px;
  }
  .formFiledTitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
  }
}
.activityCard {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e91e63;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 0.925rem;
  letter-spacing: 1px;
}
.activityCard:hover {
  transform: translateY(-7px);
  cursor: pointer;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}
.active {
  background-color: rgba(233,30,99,.7);
  color: #fff;
}
mat-form-field {
  width: 100%;
  margin-bottom: -0.925rem;
}
mat-radio-group {
  margin-left: 25px;
  @include for-phone-only {
    display: flex;
    flex-direction: column;
    margin: 5px 0 10px 0;
  }
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
  @include for-phone-only {
    margin: 0;
  }
}
.mat-focused .mat-icon {
  color: #e91e63;
}
