@mixin for-phone-only{
  @media (max-width: 599px) {
    @content;
  }
}

.enterpriseContainer{
  background-color: #F6F6FA;
  height: 100%;
  .enterpriseJumbotron {
    position: relative;
    min-height: 90px;
    background-color: #3239BB;
  }
  .questionsContainer {
    position: relative;
    width: 100%;
    svg{
      position: absolute;
      top: 0;
    }
    background-color: #F6F6FA;
    padding: 50px 0 10px 0;
    display: flex;
    justify-content: center;
    @include for-phone-only {
      padding: 0;
    }
    mat-card {
      width: 100%;
      padding: 25px 25px 25px 25px;
      max-width: 850px;
      border-radius: 25px;
    }
  }
}
